<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Index</title>
</head>
<body>
<h1>Index Page</h1>

<p>Available logins:</p>
<ul>
    <li><a href="{% url akamaru-login 'facebook' %}">Facebook Login</a></li>
    <li><a href="{% url akamaru-login 'vkontakte' %}">Vkontakte Login</a></li>
    <li><a href="{% url akamaru-login 'google' %}">Google Login</a></li>
    <li><a href="{% url akamaru-login 'trello' %}">Trello Login</a></li>
</ul>
</body>
</html>