<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Login resolve</title>
    <style type="text/css">
        label {
            display:block;
        }
        input {
            display:block;
        }
    </style>
</head>
<body>
    <p>User doesn't exists for this account. Please create new user or associate this account with one of the existing users (requires login and password).</p>
    <h1>Create User</h1>
    <form method="post" action=".">
        {% csrf_token %}
        {{ create_user_form }}
        <input type="submit" name="action" value="Create User">
    </form>
    <h1>Associate with existing user</h1>
    <form method="post" action=".">
        {% csrf_token %}
        {{ login_form }}
        <input type="submit" value="Associate" name="action">
    </form>
</body>
</html>