{% load kiba %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Index</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL}}kiba/js/kiba.js"></script>

    <script type="text/javascript">
        $(function(){
            function renderFriends(session){
                $('#info').empty();
                session.getFriends(function(friends){
                    for (var i = friends.length - 1; i >= 0; i--) {
                        $('#info').append('<p>' + friends[i].first_name + ' ' + friends[i].last_name + '</p>')
                    };
                });
            };

            $('#login-google').click(function(){
                GoogleBackend.login(function(session){
                });
                return false;
            });
            $('#login-vk').click(function(){
                VkontakteBackend.login(function(session){
                    renderFriends(session);
                });
                return false;
            });
            $('#login-fb').click(function(){
                FacebookBackend.login(function(session){
                    renderFriends(session);
                });
                return false;
            });
        });
    </script>
</head>
<body>
<h1>Index Page</h1>

<p>Available logins:</p>
<ul>
    <li><a href="{% url akamaru-login 'facebook' %}">Facebook Login</a></li>
    <li><a href="{% url akamaru-login 'vkontakte' %}">Vkontakte Login</a></li>
    <li><a href="{% url akamaru-login 'google' %}">Google Login</a></li>
    <li><a href="{% url akamaru-login 'trello' %}">Trello Login</a></li>
</ul>

<p>Available js logins:</p>
<ul>
    <li><a href="#" id="login-google">Google Login</a></li>
    <li><a href="#" id="login-vk">VK Login</a></li>
    <li><a href="#" id="login-fb">FB Login</a></li>
</ul>

<div id="info"></div>

{% init_socials %}

</body>
</html>