<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Index</title>
</head>
<body>
<h1>Profile Page</h1>

<p>User: {{user.username}}</p>
<p>First name: {{user.first_name}}</p>
<p>Last name: {{user.last_name}}</p>
<p>Email: {{user.email}}</p>
<p>Country: {{session.me.country}}</p>
<p>City: {{session.me.city}}</p>
<p>Photo: <img src="{{ session.me.photo }}"></p>
<p>Friends:</p>

<ul>
    {% for friend in session.getFriends %}
        <li>{{ friend.first_name }} {{ friend.last_name }} <img src="{{ friend.photo }}"></li>
    {% endfor %}
</ul>

Social logins:
<ul>
    {% for social_user in user.social_users.all%}
    <li>
        {{ social_user.backend }} : {{ social_user.external_user_id }}
    </li>
    {% endfor %}
</ul>

Associate another social account:
<ul>
    <li><a href="{% url 'akamaru-login' 'facebook' %}">Facebook Login</a></li>
    <li><a href="{% url 'akamaru-login' 'vkontakte' %}">Vkontakte Login</a></li>
    <li><a href="{% url 'akamaru-login' 'google' %}">Google Login</a></li>
    <li><a href="{% url 'akamaru-login' 'trello' %}">Trello Login</a></li>
</ul>

</body>
</html>